*{
    margin: 0;
    padding: 0;

}

.main-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "body body sidebar"
    "body body sidebar"
    "footer footer footer"
}

.main .main-header{
    grid-area: header;

}
.main .main-body{
    grid-area: body;
}
.main .main-body #pic1{
    width: 100%;
    height: auto;
}

.main .main-sidebar{
    grid-area: sidebar;
}
.main .main-sidebar #pic1{
    width: 100%;
    height: auto;
}

.main .main-footer{
    grid-area: footer;
}